{% extends 'base.html.twig' %}

{% block title %}Lecture{% endblock %}

{% block body %}
    <h1>Lecture: {{ lecture.lectureName }}</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Lectures Name</th>
                <td>{{ lecture.lectureName }}</td>
            </tr>
            <tr>
                <th>Lectures Articles</th>
                <td>
                    <a href="{{ path('lectures_articles', {'id': lecture.id}) }}">See the articles</a>
                </td>
            </tr>
            <tr>
                <th>Lectures Students</th>
                <td>
                    <a href="{{ path('lectures_students', {'id': lecture.id}) }}">See the Students</a>
                </td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('lecture_index') }}">back to list</a>
    <br>
    {% if lecture.teacher.email  is same as(user) or is_granted('ROLE_ADMIN')%}
        <a href="{{ path('lecture_edit', {'id': lecture.id}) }}">edit</a>
        <br>
        {{ include('lecture/_delete_form.html.twig') }}
    {% endif %}
{% endblock %}