{% extends 'base.html.twig' %}

{% block body %}
    {% if is_granted("ROLE_ADMIN") %}
        Welcome Admin
    {% elseif is_granted("ROLE_TEACHER") %}
        Welcome {{ app.user.email }}
    {% endif %}
{% endblock %}


