{% extends 'base.html.twig' %}

{% block title %}New User{% endblock %}

{% block body %}
    <h1>Create new Teacher</h1>

    {{ include('user/_formTeacher.html.twig') }}

    <a href="{{ path('user_index') }}">back to list</a>
{% endblock %}